// Color States
//
//
//

.cards_section__cards .dashed_color_transition button {
  border: 1px dashed;
}

.cards_section__cards .dashed_color_transition #primary {
  color: $primary_color;
}

.cards_section__cards .dashed_color_transition #secondary {
  color: $secondary_color;
}
.cards_section__cards .dashed_color_transition #success {
  color: $success_color;
}
.cards_section__cards .dashed_color_transition #info {
  color: $info_color;
}
.cards_section__cards .dashed_color_transition #warning {
  color: $warning_color;
}
.cards_section__cards .dashed_color_transition #danger {
  color: $danger_color;
}
.cards_section__cards .dashed_color_transition #focus {
  color: $focus_color;
}
.cards_section__cards .dashed_color_transition #alt {
  color: $alt_color;
}
.cards_section__cards .dashed_color_transition #light {
  color: $light_color;
  color: #1d1d1d;
  border-color: $light_color;
}
.cards_section__cards .dashed_color_transition #dark {
  color: $dark_color;
}
.cards_section__cards .dashed_color_transition a {
  color: #3f6cd8;
}
.cards_section__cards .dashed_color_transition a:hover {
  text-decoration: underline;
}

.cards_section__cards .dashed_color_transition #primary:hover {
  background-color: $primary_color;
  color: $white_color;
}
.cards_section__cards .dashed_color_transition #secondary:hover {
  color: $white_color;
  background-color: $secondary_color;
}
.cards_section__cards .dashed_color_transition #success:hover {
  color: $white_color;
  background-color: $success_color;
}
.cards_section__cards .dashed_color_transition #info:hover {
  color: $white_color;
  background-color: $info_color;
}
.cards_section__cards .dashed_color_transition #warning:hover {
  color: $dark_color;
  border-color: $warning_color;
  background-color: $warning_color;
}
.cards_section__cards .dashed_color_transition #danger:hover {
  color: $white_color;
  background-color: $danger_color;
}
.cards_section__cards .dashed_color_transition #focus:hover {
  color: $white_color;
  background-color: $focus_color;
}
.cards_section__cards .dashed_color_transition #alt:hover {
  color: $white_color;
  background-color: $alt_color;
}
.cards_section__cards .dashed_color_transition #light:hover {
  background-color: $light_color;

  border-color: $light_color;
}
.cards_section__cards .dashed_color_transition #dark:hover {
  background-color: $dark_color;
  color: $white_color;
}

//
//
// Ative State
//
.cards_section__cards .dashed_active_state button:active {
  transform: scale(1);
  filter: none;
}
.cards_section__cards .dashed_active_state #primary {
  background-color: darken($primary_color, 10%);
}
.cards_section__cards .dashed_active_state #secondary {
  background-color: darken($secondary_color, 10%);
}
.cards_section__cards .dashed_active_state #success {
  background-color: darken($success_color, 10%);
}
.cards_section__cards .dashed_active_state #info {
  background-color: darken($info_color, 10%);
}
.cards_section__cards .dashed_active_state #warning {
  color: $dark_color;
  background-color: darken($warning_color, 10%);
}
.cards_section__cards .dashed_active_state #danger {
  background-color: darken($danger_color, 10%);
}
.cards_section__cards .dashed_active_state #focus {
  background-color: darken($focus_color, 10%);
}
.cards_section__cards .dashed_active_state #alt {
  background-color: darken($alt_color, 10%);
}
.cards_section__cards .dashed_active_state #light {
  background-color: darken($light_color, 10%);
  color: #1d1d1d;
  border-color: $light_color;
}
.cards_section__cards .dashed_active_state #dark {
  background-color: darken($dark_color, 10%);
}
.cards_section__cards .dashed_active_state a {
  color: #3f6cd8;
}
//
//
// disable state
//
.cards_section__cards .dashed_disabled_state button:active {
  transform: scale(1);
  filter: none;
}
.cards_section__cards .dashed_disabled_state button {
  cursor: default !important;
  border: 1px dashed;
  opacity: 0.6;
}
.cards_section__cards .dashed_disabled_state #primary {
  color: $primary_color;
}
.cards_section__cards .dashed_disabled_state #secondary {
  color: $secondary_color;
}
.cards_section__cards .dashed_disabled_state #success {
  color: $success_color;
}
.cards_section__cards .dashed_disabled_state #info {
  color: $info_color;
}
.cards_section__cards .dashed_disabled_state #warning {
  color: $dark_color;
  color: $warning_color;
}
.cards_section__cards .dashed_disabled_state #danger {
  color: $danger_color;
}
.cards_section__cards .dashed_disabled_state #focus {
  color: $focus_color;
}
.cards_section__cards .dashed_disabled_state #alt {
  color: $alt_color;
}
.cards_section__cards .dashed_disabled_state #light {
  color: $light_color;
  color: #1d1d1d;
  border-color: $light_color;
}
.cards_section__cards .dashed_disabled_state #dark {
  color: $dark_color;
}

.cards_section__cards .dashed_disabled_state a {
  color: #3f6cd8;
  cursor: default;
}
//
// Blocl Level Starts Here
//
.dashed_block_level {
  .card__buttons {
    flex-direction: column;
    button {
      background-color: $white_color;
      border: 1px dashed $primary_color;
      color: $primary_color;
      &:hover {
        background-color: darken($primary_color, 10%);
        color: $white_color;
      }
    }
  }
}

//wider sizing starts here
.dashed_wider,
.dashed_sizing {
  button {
    background-color: $white_color;
    border: 1px dashed $primary_color;
    color: $primary_color;
    &:hover {
      background-color: darken($primary_color, 10%);
      color: $white_color;
    }
  }
}
.card__buttons {
  justify-content: center;
  font-weight: 400;
}
.wider,
.sizing {
  .card__buttons {
    text-align: center;
    align-items: center;
  }

  #large {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
  #normal {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
  #small {
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
  }
}
//
//
// Checkbox Buttons
.dashed_checkbox_buttons {
  display: flex;
  flex-direction: row;
  box-shadow: none;
  [type="checkbox"] {
    width: 3rem;
    height: 3rem;
    color: $alt_color;
    vertical-align: middle;
    appearance: none;
    background: none;
    // background-color: $dark_color;
    transition: background 300ms;
    cursor: pointer;
  }
}

.button_check {
  position: relative;
  width: auto;

  span {
    text-align: center;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    user-select: none;
  }
  label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn_check-first {
    font-size: 0.7rem;
  }
  .btn_check-second {
    font-size: 0.8rem;
  }
  .btn_check_third span {
    font-size: 0.9rem;
  }
  .left_btn {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .right_btn {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
.brk_line {
  border-bottom: 1px solid #eee;
}

.first_row {
  input[type="checkbox"] {
    width: 50px !important;
    height: 30px !important;
    border: 1px dashed $primary_color;
    background-color: #fff !important;
  }
  [type="checkbox"]:checked {
    background-color: $primary_color !important;
  }
  span {
    color: $primary_color;
  }
}
.second_row {
  input[type="checkbox"] {
    width: 60px !important;
    height: 35px !important;
    border: 1px dashed $danger_color;
    background-color: #fff !important;
  }
  [type="checkbox"]:checked {
    background-color: $danger_color !important;
  }
  span {
    color: $danger_color !important;
  }
}
.third_row {
  input[type="checkbox"] {
    width: 70px !important;
    height: 40px !important;
    border: 1px dashed $alt_color;
    background-color: #fff !important;
  }
  [type="checkbox"]:checked {
    background-color: $alt_color !important;
  }
  span {
    color: $alt_color !important;
  }
}

//
//
// Radio Buttons
//
.dashed_radio_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: none;
  overflow: hidden;
  input[type="radio"] {
    appearance: none;
    display: none;
  }
  label {
    // color: #fff;
    padding: 0.8rem 1.4rem;
    font-weight: 600;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    // border: 1px dashed;
    // border-radius: 0.25rem;
  }

  input[type="radio"]:checked + label {
    border: 1px dashed;
    // filter: brightness(95%);
    // // filter: contrast(95%);
    // background-color: inherit;
    transition: 0.3s;
  }
}
.dashed_first_row {
  input[type="radio"] + label {
    border: 1px dashed $primary_color;
    padding: 0.5rem 0.4rem;
    color: $primary_color;
  }
  [type="radio"]:checked + label {
    background-color: $primary_color;
    color: #fff;
    border: none !important;
  }
}
.dashed_second_row {
  input[type="radio"] + label {
    border: 1px dashed $warning_color;
    padding: 0.5rem 0.7rem;
    color: $warning_color;
  }
  [type="radio"]:checked + label {
    background-color: $warning_color;
    color: #000;
    border: none !important;
  }
}
.dashed_third_row {
  input[type="radio"] + label {
    border: 1px dashed $alt_color;
    color: $alt_color;
    padding: 0.5rem 1rem;
  }
  [type="radio"]:checked + label {
    background-color: $alt_color;
    color: #fff;
    border: none !important;
  }
}
//
//
// dashed_loading
//
.dashed_loading_buttons {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  min-width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  button {
    padding: 15px 20px;
    background-color: #fff;
  }
  .card__buttons {
    justify-content: center;
  }
}

.cards_section__cards .dashed_loading #primary {
  color: $primary_color;
  border: 1px dashed $primary_color;
  &:hover {
    background-color: $primary_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #secondary {
  color: $secondary_color;
  border: 1px dashed $secondary_color;
  &:hover {
    background-color: $secondary_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #success {
  color: $success_color;
  border: 1px dashed $success_color;
  &:hover {
    background-color: $success_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #info {
  color: $info_color;
  border: 1px dashed $info_color;
  &:hover {
    background-color: $info_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #warning {
  color: $warning_color;
  border: 1px dashed $warning_color;
  &:hover {
    background-color: $warning_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #warning {
  color: $warning_color;
  border: 1px dashed $warning_color;
  &:hover {
    background-color: $warning_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #focus {
  color: $focus_color;
  border: 1px dashed $focus_color;
  &:hover {
    background-color: $focus_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #alt {
  color: $alt_color;
  border: 1px dashed $alt_color;
  &:hover {
    background-color: $alt_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #light {
  color: $light_color;
  border: 1px dashed $light_color;
  &:hover {
    background-color: $light_color;
    color: #fff;
  }
}
.cards_section__cards .dashed_loading #dark {
  color: $dark_color;
  border: 1px dashed $dark_color;
  &:hover {
    background-color: $dark_color;
    color: #fff;
  }
}
